<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>SpotifyStats</title>
    <style>
        * {
            color: white;
            font-family: 'Inter';font-size: 22px;
        }
        body {
            margin: 0px;
        }
    </style>
</head>

<body style="overflow: hidden; position: absolute; width: 100%; height: 779px;">
{% load static %}
<img class="listeningtaste2" style="overflow: hidden; position: absolute; left: 0%; right: 0%; top: 0%; bottom: 0%;" src="{% static 'SpotifyUI/img/listeningtaste2.png' %}" />
<div class="line" style="overflow: hidden; position: absolute; width: 452px; height: 5px; left: 72px; top: 84px; background: #FFFFFF;"></div>
<div class="yourListeningHabitsOverTime" style="overflow: hidden; position: absolute; width: 948px; height: 79px; left: 72px; top: 111px; font-style: normal; font-weight: 700; font-size: 48px; line-height: 90%; font-feature-settings: 'ss01' on; color: #FFFFFF;">Your Listening Habits Over Time</div>
<div class="last4Weeks" style="overflow: hidden; position: absolute; width: 269px; height: 22px; left: calc(50% - 269px/2 - 393.5px); top: calc(50% - 22px/2 - 169.5px); font-style: normal; font-weight: 700; font-size: 24px; line-height: 90%; text-align: center; font-feature-settings: 'ss01' on; color: #FFFFFF;">Last 4 Weeks</div>
<div class="last6Months" style="overflow: hidden; position: absolute; width: 269px; height: 22px; left: calc(50% - 269px/2 + 10.5px); top: calc(50% - 22px/2 - 169.5px); font-style: normal; font-weight: 700; font-size: 24px; line-height: 90%; text-align: center; font-feature-settings: 'ss01' on; color: #FFFFFF;">Last 6 Months</div>
<div class="allTime" style="overflow: hidden; position: absolute; width: 269px; height: 22px; left: calc(50% - 269px/2 + 414.5px); top: calc(50% - 22px/2 - 171.5px); font-style: normal; font-weight: 700; font-size: 24px; line-height: 90%; text-align: center; font-feature-settings: 'ss01' on; color: #FFFFFF;">All Time</div>
{% load static %}
<img class="spotifystats" style="overflow: hidden; position: absolute; width: 155px; height: 33px; left: 72px; top: 38px;" src="{% static 'SpotifyUI/img/spotifystats.png' %}" />
<script>
var last6Months = document.getElementsByClassName('last6Months')[0];
var yourListeningHabitsOverTime = document.getElementsByClassName('yourListeningHabitsOverTime')[0];
var last4Weeks = document.getElementsByClassName('last4Weeks')[0];
var story2slide7 = document.getElementsByClassName('story2slide7')[0];
var allTime = document.getElementsByClassName('allTime')[0];
var line = document.getElementsByClassName('line')[0];
var spotifystats = document.getElementsByClassName('spotifystats')[0];
var listeningtaste2 = document.getElementsByClassName('listeningtaste2')[0];
</script>
{% load static %}
<script src='{% static 'SpotifyUI/slide7.js' %}'></script>
</body>
</html>