<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>SpotifyStats</title>
    <style>
        * {
            color: white;
            font-family: 'Inter';font-size: 22px;
        }
        body {
            margin: 0px;
        }
    </style>
</head>

<body style="overflow: hidden; position: absolute; width: 100%; height: 100%;">
<div class="songframe" style="overflow: hidden; position: absolute; box-sizing: border-box; left: 0%; right: 66.67%; top: 0%; bottom: 0%; background: #F36EBD;">
<div class="songinnerframe" style="overflow: hidden; position: absolute; width: 358px; height: 519px; left: 28px; top: 186px;">
  <div class="song1" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 0px;"></div>
  <div class="song2" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 80px;"></div>
  <div class="song3" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 160px;"></div>
  <div class="song4" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 240px;"></div>
  <div class="song5" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 320px;"></div>
    </div>
<div class="yourTopSongs" style="overflow: hidden; position: absolute; width: 165px; height: 36px; left: 28px; top: 137px; font-style: normal; font-weight: 700; font-size: 24px; line-height: 150%; letter-spacing: -0.06em;">Your Top Songs</div>
{% load static %}
<img class="spotifystats" style="overflow: hidden; position: absolute; width: 155px; height: 33px; left: 28px; top: 45px;" src="{% static 'SpotifyUI/img/spotifystats.png' %}" />
  </div>
<div class="artistframe" style="overflow: hidden; position: absolute; box-sizing: border-box; left: 33.33%; right: 33.33%; top: 0%; bottom: 0%; background: #9BEFE2;">
<div class="artistinnerframe" style="overflow: hidden; position: absolute; width: 358px; height: 572px; left: 32px; top: 143px;">
<div class="artist1" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 0px;">
        <div class="1a" style="width: 90px; height: 50px; color: #3C00E4; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#1</div>
      </div>
<div class="artist2" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 80px;">
        <div class="2a" style="width: 90px; height: 50px; color: #3C00E4; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#2</div>
      </div>
<div class="artist3" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 160px;">
        <div class="3a" style="width: 90px; height: 50px; color: #3C00E4; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#3</div>
      </div>
<div class="artist4" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 240px;">
        <div class="4a" style="width: 90px; height: 50px; color: #3C00E4; font-size: 38px; font-family: Inter; font-weight: 700; line-height: 38px; word-wrap: break-word">#4</div>
      </div>
<div class="artist5" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 320px;">
        <div class="5a" style="width: 90px; height: 50px; color: #3C00E4; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#5</div>
      </div>
    </div>
<div class="yourTopArtists" style="overflow: hidden; position: absolute; width: 169px; height: 36px; left: 25px; top: 94px; font-style: normal; font-weight: 700; font-size: 24px; line-height: 150%; letter-spacing: -0.06em;">Your Top Artists</div>
  </div>
<div class="genreframe" style="overflow: hidden; position: absolute; box-sizing: border-box; left: 66.67%; right: 0%; top: 0%; bottom: 0%; background: #ABEDBB;">
<div class="numberbox" style="overflow: hidden; position: absolute; width: 358px; height: 609px; left: 28px; top: 113px;">
<div class="genre1" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 0px;">
        <div class="1g" style="width: 90px; height: 50px; color: #22306D; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#1</div>
      </div>
<div class="genre2" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 80px;">
        <div class="2g" style="width: 90px; height: 50px; color: #22306D; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#2</div>
      </div>
<div class="genre3" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 160px;">
        <div class="3g" style="width: 90px; height: 50px; color: #22306D; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#3</div>
      </div>
<div class="genre4" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 240px;">
        <div class="4g" style="width: 90px; color: #22306D; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#4</div>
      </div>
<div class="genre5" style="overflow: hidden; position: absolute; display: flex; flex-direction: row; align-items: center; padding: 0px; gap: 16px; width: 358px; height: 50px; left: 0px; top: 320px;">
        <div class="5g" style="width: 90px; color: #22306D; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 40px; word-wrap: break-word">#5</div>
      </div>
    </div>
<div class="yourtopgenres" style="overflow: hidden; position: absolute; width: 174px; height: 36px; left: 28px; top: 47px; font-style: normal; font-weight: 700; font-size: 24px; line-height: 150%; letter-spacing: -0.06em;">Your Top Genres</div>
  </div>
<script>
var artist2 = document.getElementsByClassName('artist2')[0];
var yourtopgenres = document.getElementsByClassName('yourtopgenres')[0];
var artistinnerframe = document.getElementsByClassName('artistinnerframe')[0];
var genre2 = document.getElementsByClassName('genre2')[0];
var songframe = document.getElementsByClassName('songframe')[0];
var genreframe = document.getElementsByClassName('genreframe')[0];
var artistframe = document.getElementsByClassName('artistframe')[0];
var genre1 = document.getElementsByClassName('genre1')[0];
var numberbox = document.getElementsByClassName('numberbox')[0];
var genre5 = document.getElementsByClassName('genre5')[0];
var song2 = document.getElementsByClassName('song2')[0];
var spotifystats = document.getElementsByClassName('spotifystats')[0];
var artist3 = document.getElementsByClassName('artist3')[0];
var story2slide3 = document.getElementsByClassName('story2slide3')[0];
var song1 = document.getElementsByClassName('song1')[0];
var songinnerframe = document.getElementsByClassName('songinnerframe')[0];
var song3 = document.getElementsByClassName('song3')[0];
var artist1 = document.getElementsByClassName('artist1')[0];
var yourTopArtists = document.getElementsByClassName('yourTopArtists')[0];
var artist5 = document.getElementsByClassName('artist5')[0];
var song5 = document.getElementsByClassName('song5')[0];
var yourTopSongs = document.getElementsByClassName('yourTopSongs')[0];
var genre3 = document.getElementsByClassName('genre3')[0];
var artist4 = document.getElementsByClassName('artist4')[0];
var genre4 = document.getElementsByClassName('genre4')[0];
var song4 = document.getElementsByClassName('song4')[0];
</script>
{% load static %}
<script src='{% static 'SpotifyUI/slide3.js' %}'></script>
<script>
    // Pass the context values from Django to JavaScript
    let tracks_data;
    let artists_data;
    let top_genres;
    tracks_data = {{ tracks_data|safe }};
    artists_data = {{ artists_data|safe }};
    top_genres = {{ top_genres|safe }};

    tracks_data.forEach((track, index) => {
        tracks_populate(track, index);
    });

    artists_data.forEach((artist, index) => {
        artists_populate(artist, index);
    });

    top_genres.forEach((genre, index) => {
        genres_populate(genre, index);
    });
</script>
</body>
</html>