<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>SpotifyStats</title>
    <style>
        * {
            color: white;
            font-family: 'Inter';font-size: 22px;
        }
        body {
            margin: 0px;
        }
    </style>
</head>

<body style="overflow: hidden; position: absolute; width: 100%; height: 801px;">
{% load static %}
<img class="landingpage" style="overflow: hidden; position: absolute; left: 0%; right: 0%; top: 0%; bottom: 0%;" src="{% static 'SpotifyUI/img/landingpage.png' %}" />
<div class="rectracks" style="overflow: hidden; position: absolute; width: 638px; height: 90px; left: 15px; top: 145px; font-style: normal; font-weight: 700; font-size: 40px; line-height: 100%; text-align: center; letter-spacing: -0.05em; color: black;">Recommended Tracks for You<br/></div>
{% load static %}
<img class="spotifystats" style="overflow: hidden; position: absolute; width: 155px; height: 33px; left: 67px; top: 65px;" src="{% static 'SpotifyUI/img/spotifystats.png' %}" />
<div class="line" style="overflow: hidden; position: absolute; width: 452px; height: 5px; left: 67px; top: 110px; background: #FFFFFF;"></div>
<script>
var story2slide5 = document.getElementsByClassName('story2slide5')[0];
var rectracks = document.getElementsByClassName('rectracks')[0];
var landingpage = document.getElementsByClassName('landingpage')[0];
var line = document.getElementsByClassName('line')[0];
var spotifystats = document.getElementsByClassName('spotifystats')[0];
</script>
{% load static %}
<script src='{% static 'SpotifyUI/slide5.js' %}'></script>
</body>
</html>